.about-me {
   margin: 16px 8px 16px 8px;
   /* Display flex */
   display: flex;
   /* Flex Direction */
   flex-direction: column;
   /* Axe direction */
   justify-content: center;
   /* Main axes */
   align-items: normal;
   /* Cross axes */
   flex-wrap: nowrap;
   /* Warpping */
   align-content: normal;
   /* Works with Wraping */
   gap: 8px;
   /* Gap */
}

.about-me-title {
   flex: 1;
   align-self: center; /* Ovveride pos */
}

.about-me-desc {
   align-self: center;
}

.scan-me-holder {
   align-self: center; /* Ovveride pos */
}

.qr-code-holder {
   /* 1st 'VALUE' grow,2nd how fast it shrinks, 3rd pixel ovveride */
   flex: auto;
   align-self: center; /* Ovveride pos */
   height: 150px;
}

.qr-code {
   height: 150px;
   width: 150px;
   border: none;
}

.exchange-title {
   align-self: center;
}

#exchange-holder {
   /* 1st 'VALUE' grow,2nd how fast it shrinks, 3rd pixel ovveride */
   flex: auto;
   align-self: center; /* Ovveride pos */
}

.container1 {
   display: flex;
   /* Main axes */
   flex-direction: row;
   /* Second axes */
   justify-content: flex-start;
   /* Alighment */
   align-items: normal;
   /* Wrapping */
   flex-wrap: nowrap;
   /* Works with Wraping */
   align-content: normal;
   /* Gap */
   gap: 8px;
   margin: 16px 8px 16px 8px;
   align-self: center;
}

.container2 {
   display: flex;
   /* Main axes */
   flex-direction: column;
   /* Second axes */
   justify-content: flex-start;
   /* Alighment */
   align-items: normal;
   /* Wrapping */
   flex-wrap: nowrap;
   /* Works with Wraping */
   align-content: normal;
   /* Gap */
   gap: 8px;
   margin: 16px 8px 16px 8px;
}

.container3 {
   display: flex;
   /* Main axes */
   flex-direction: column;
   /* Second axes */
   justify-content: flex-start;
   /* Alighment */
   align-items: normal;
   /* Wrapping */
   flex-wrap: nowrap;
   /* Works with Wraping */
   align-content: normal;
   /* Gap */
   gap: 8px;
   margin: 16px 8px 16px 8px;
}
