#map {
   height: 400px;
   width: 100%;
   border: none;
}

html,
body {
   margin: 0;
   background-color: #2a2130;
}

.main {
   background-color: #2a2130;
}

.navbar {
   padding: 8px 8px 16px 8px;
   /* Display flex */
   display: flex;
   /* Flex Direction */
   flex-direction: row;
   /* Axe direction */
   justify-content: flex-start;
   /* Main axes */
   align-items: start;
   /* Cross axes */
   flex-wrap: nowrap;
   /* Warpping */
   align-content: normal;
   /* Works with Wraping */
   gap: 8px;
   /* Gap */
   background-color: #2a2130;
}

.navbar-top-left {
   /* Display flex */
   display: flex;
   /* Flex Direction */
   flex-direction: row;
   /* Axe direction */
   justify-content: flex-start;
   /* Main axes */
   align-items: start;
   /* Cross axes */
   flex-wrap: nowrap;
   /* Warpping */
   align-content: normal;
   /* Works with Wraping */
   gap: 8px;
   /* Gap */
   height: 100%;
   align-self: center;
}

.logo {
   /* 1st value grow,2nd how fast it shrinks, 3rd pixel ovveride */
   flex: auto;
   align-self: center;
   /* Ovveride pos */
   max-width: 32px;
   max-height: 32px;
}

.logo-text {
   /* 1st value grow,2nd how fast it shrinks, 3rd pixel ovveride */
   flex: auto;
   align-self: center;
   /* Ovveride pos */
}

.navbar-top-right {
   /* 1st value grow,2nd how fast it shrinks, 3rd pixel ovveride */
   flex: auto;
   align-self: center;
   /* Ovveride pos */

   /* Display flex */
   display: flex;
   /* Flex Direction */
   flex-direction: row;
   /* Axe direction */
   justify-content: flex-end;
   /* Main axes */
   align-items: end;
   /* Cross axes */
   flex-wrap: nowrap;
   /* Warpping */
   align-content: normal;
   /* Works with Wraping */
   gap: 8px;
   /* Gap */
   height: 100%;
}
